/* Base Navigation Styles */
.nav {
    width: 100%;
    border-bottom: 1px solid var(--grey1);
}

.nav-container {
    width: 95%;
    margin: auto;
    padding: 1rem 0;
    position: relative; 
}


.nav-disp-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    width: fit-content;
    border: 1px solid var(--grey1);
    box-shadow: 0px 0px 5px 2px var(--grey1);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    background-color: #fff; 
}

.nav-disp-btn:hover {
    box-shadow: 0 0 10px 5px var(--grey3);
}

.nav-disp-icon {
    display: flex;
    align-items: center;
}

/* Filter Icons */
.nav-disp-filter {
    margin-right: 0.6rem;
}

.nav-disp-filter > img {
    height: 14px;
    fill: var(--grey1);
}

.nav-disp-heading {
    font-weight: 500;
}

.nav-disp-drop {
    margin-left: 0.3rem;
}

.nav-disp-drop > img {
    height: 16px;
}


.nav-disp-dropdown {
    display: none; 
    position: absolute; 
    top: calc(100% + 0.5rem); 
    left: 0;
    z-index: 2;
    padding: 0.8rem 1rem;
    background-color: var(--grey3);
    border: 1px solid var(--grey1);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex; 
    gap: 1rem;
    align-items: center;
}


.nav-disp-dropdown-show {
     display: flex; 
     flex-direction: column;
    opacity: 1;
    visibility: visible;
}


.nav-disp-filters {
    display: flex;
    gap: 1rem; 
    align-items: center;
    justify-content: flex-start;
}

.nav-dropdown-category {
    color: var(--textgrey);
    font-weight: 500;
}


.nav-selector {
    padding: 0.3rem;
    width: auto;
    border-radius: 0.3rem;
    border: 1px solid var(--grey1);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-selector:hover {
    background-color: var(--grey3);
}


.nav-disp-btn.active + .nav-disp-dropdown {
    display: flex;
    opacity: 1;
    visibility: visible;
}


@media (max-width: 500px) {
    .nav-container {
        width: 90%;
        padding: 0.8rem 0;
    }

    .nav-disp-btn {
        padding: 0.3rem 0.6rem;
    }

    .nav-disp-heading {
        font-size: 0.85rem;
    }

    .nav-disp-dropdown {
        width: auto; 
        flex-wrap: wrap; 
    }

    .nav-disp-filters {
        gap: 0.5rem; 
    }

    .nav-selector {
        width: auto;
        font-size: 0.8rem;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .nav-container {
        width: 95%;
        padding: 1rem 0;
    }

    .nav-disp-btn {
        padding: 0.4rem 0.7rem;
    }

    .nav-disp-heading {
        font-size: 0.9rem;
    }

    .nav-disp-dropdown {
        width: auto;
        flex-wrap: nowrap; 
    }

    .nav-disp-filters {
        gap: 1rem;
    }

    .nav-selector {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .nav-container {
        width: 95%;
        padding: 1rem 0;
    }

    .nav-disp-btn {
        padding: 0.4rem 0.8rem;
    }

    .nav-disp-heading {
        font-size: 1rem;
    }

    .nav-disp-dropdown {
        width: auto;
    }

    .nav-disp-filters {
        gap: 1rem;
    }

    .nav-selector {
        width: auto;
    }
}
